.filmes-itens {
  display: flex;
}
.filmes-itens .Filme-Item {
  margin: 0px 10px;
}
.filmes-itens .Filme-Item img {
  height: 15vw;
  border-radius: 15px;
}

.Container-FilmeSelec {
  width: 100%;
  height: 450px;
  /* background-color: red; */
}
.Container-FilmeSelec .Filme-Desc {
  width: 40%;
  background-color: green;
}
.Filme-Selec {
  display: flex;
  justify-content: space-between;
}
.Filme-Selec .img-container {
  width: 60%;
  height: 450px;
}
.Filme-Selec .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: radial-gradient(circle at top left, transparent 10%, black 35%),
                      radial-gradient(circle at top right, transparent 10%, black 35%),
                      radial-gradient(circle at center left, transparent 10%, black 45%),
                      radial-gradient(circle at center right, transparent 10%, black 35%),
                      radial-gradient(circle at bottom left, transparent 10%, black 35%),
                      radial-gradient(circle at bottom right, transparent 10%, black 35%);
  mask-image: radial-gradient(circle at top left, transparent 10%, black 35%),
              radial-gradient(circle at top right, transparent 10%, black 35%),
              radial-gradient(circle at center left, transparent 10%, black 45%),
              radial-gradient(circle at center right, transparent 10%, black 35%),
              radial-gradient(circle at bottom left, transparent 10%, black 35%),
              radial-gradient(circle at bottom right, transparent 10%, black 35%);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
